@import "../../theme.scss";

.textInput {
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  margin: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 100%;
    border: none;
    outline: none;
    @extend .headings_input_text;
    ::-webkit-input-placeholder {
      @extend .headings_input_placeholder;
    }
    :-ms-input-placeholder {
      @extend .headings_input_placeholder;
    }
    ::placeholder {
      @extend .headings_input_placeholder;
    }
  }
}
